/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

body{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    color: white;
    margin: 20px 10px;
}


/* SIDE BAR */

.side-bar{
    min-height: calc(100% - 100px);
    width: 200px;
    background-color: black;
    display: inline-block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
}


.side-bar .logo{
    min-height: 50px;
    width: 100px;
    /* background-color: cadetblue;
    border: 1px solid black; */
    margin-left: 15px;
    margin-top: 15px;
}

.side-bar .logo img{
    height: 50px;
}

.side-bar img{
    height: 30px;
    margin-right: 5px;
}

.side-bar .home p{
    display: inline-block;
    color: #9a9a9a;
    font-weight: bold;
}

.side-bar .home div:first-child{
    border-left:  3px solid #598128;
}


.side-bar .home{
    min-height: 100px;
    width: 150px;
    /* background-color: cadetblue;
    border: 1px solid black; */
    margin-left: 15px;
    margin-top: 15px;
}

.side-bar .home div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.side-bar .playlist{
    min-height: 150px;
    min-width: 150px;
    /* background-color: cadetblue; */
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}

.side-bar .playlist div div{
    display: flex;
    align-items: center;
}


.side-bar .playlist div h4{
    color: white;
}

.side-bar .playlist #add-icon{
    background-color: #9a9a9a;
    padding: 10px 10px;
    margin: 5px 0;
}

.side-bar .playlist div div h4{
    color: #7d7f84;
    padding-left: 10px;
}

.side-bar .playlist div #lista-playlist{
    color: #7d7f84;
    list-style: none;
}

.side-bar .playlist div #lista-playlist li{
    list-style: none;
    margin: 15px 0;
    font-weight: bold;
}

/* SIDE-BAR BOTTOM */

.side-bar .bottom{
    min-height: 50px;
    min-width: 150px;
    /* background-color: cadetblue; */
    border: 1px solid black;
    margin-left: 1px;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
}

.side-bar .bottom #installa-app {
    padding: 10px 0;
    border-bottom: 2px solid #7d7f84;
    
}

.side-bar .bottom #installa-app p{
    color: #7d7f84;
    margin-left: 10px;
}

.side-bar .bottom #profilo div{
    text-align: center;
    background-color: #7d7f84;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px 0;
    padding-left: 5px;

}




/* MAIN */


main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 200px;
    margin-left: 200px;
}

.main-header{
    height: 100px;
    width: calc(100vw - 200px);
    background-color: #080b12;
    position: fixed;
    top: 0;
}

.main-header button{
    min-height: 50px;
    min-width: 100px;
    background-color: #080b12;
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    right: 0;
    color: white;
    border-radius: 40px;
    padding: 5px 20px;
    border: 1px solid white ;
}



.main-parte-centrale{
    min-height: 100%;
    width: calc(100vw - 200px);
    background-color: #141922;
    margin-top: 100px;
    overflow-x: auto;
    
}

.main-parte-centrale .menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-parte-centrale .menu li{
    list-style: none;
    margin: 20px 20px;
    color: #7d7f84;
    font-weight: bold;
}

.main-parte-centrale .menu li:first-child{
    border-bottom: 3px solid #598128;
}

.recently ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.recently ul li{
    height: 160px;
    width: 160px;
    margin: 10px;
    /* background-color: blueviolet; */
}

.recently ul li img{
    height: 100%;
}



.creato-per ul{
    list-style: none;
    display: flex;
}

.creato-per ul li{
    height: 160px;
    width: 160px;
    margin: 10px;
    /* background-color: blueviolet; */
}

.creato-per ul li img{
    height: 100%;
}


.artisti-popolari ul{
    list-style: none;
    display: flex;
}

.artisti-popolari ul li{
    height: 166px;
    width: 166px;
    margin: 20px 10px;
    /* background-color: blueviolet; */
}

.artisti-popolari ul li img{
    height: 100%;
}


/* FOOTER */

.bottom-bar{
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.bottom-bar .left{
    height: 60px;
    width: 60px;
    /* background-color: cadetblue; */
    border: 1px solid black;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.bottom-bar .left .brano-corrente{
    height: 60px;
    width: 60px;
    /* background-color: cadetblue; */
    border: 1px solid black;
}

.bottom-bar .left img{
    height: 100%;
}

.bottom-bar .left .nome-autore{
    height: 100%;
    min-width: 100px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.bottom-bar .left .nome-autore p:last-child{
    color: #7d7f84;
}

.bottom-bar .left .icone{
    display: flex;

}

.bottom-bar .left .icone > *{
    color: #7d7f84;
    padding-left: 20px;

}


/* BOTTOM CENTER */
.bottom-bar .center{
    height: 100px;
    width: 400px;
    /* background-color: cadetblue;
    border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bottom-bar .center .up{
    height: 50px;
    width: 200px;
    /* background-color: lightblue;
    border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: -20px;
}

.bottom-bar .center .bottom{
    height: 50px;
    width: 400px;
    /* background-color: lightblue;
    border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: -10px;
}

.bottom-bar .center .bottom #barra-riproduzione {
    display: flex;
    justify-content: flex-start;
    width: 300px;
}

.bottom-bar .center .bottom hr{
    width: 60px;
    color: #c1c1c1;
    height: 4px;
    background-color: #c1c1c1;
    margin-top: 3px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.bottom-bar .center .bottom hr:last-child{
    width: 240px;
    color: #545454;
    height: 4px;
    background-color: #545454;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.bottom-bar .right{
    height: 100px;
    width: 300px;
    /* background-color: cadetblue;
    border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.bottom-bar .right div{
    display: flex;
}

.bottom-bar .right i{
color: white;
}

.bottom-bar .right hr{
    width: 20px;
    color: #c1c1c1;
    height: 4px;
    background-color: #c1c1c1;
    margin-top: 3px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.bottom-bar .right hr:last-child{
    width: 80px;
    color: #545454;
    height: 4px;
    background-color: #545454;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}






/* MEDIA QUERY */

@media screen and (max-width: 1100px) {

    .recently ul li{
        width: calc(25% - 20px);        aspect-ratio: 1/1;
        margin: 10px 10px;
        /* background-color: blueviolet; */
    }
    
} 

@media screen and (max-width: 700px) {

    .recently ul li{
        width: calc(50% - 20px);
        aspect-ratio: 1/1;
        margin: 10px 10px;
        /* background-color: blueviolet; */
    }
    
} 



@media screen and (max-width: 600px) {

    .side-bar{
        min-height: calc(100% - 100px);
        width: 50px;
        background-color: black;
    }

    main{

        width: 100vw;
        min-height: 100vh;
        margin-bottom: 200px;
        margin-left: 50px;
    }

    .main-header{
        height: 100px;
        width: calc(100vw - 50px);
        background-color: #080b12;
        position: fixed;
        top: 0;
    }

    .main-parte-centrale{
        min-height: 100%;
        width: calc(100vw - 50px);
        background-color: #141922;
        margin-top: 100px;
 
        
    }



    .side-bar .logo , .home , .playlist , .bottom{
        display: none;
        
    }


} 
