/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;


}

.barra-laterale{
    height: 90vh;
    width: 20%;
    background-color: aqua;
    display: inline-block;
    position: relative;
}

.barra-laterale .logo{
    min-height: 100px;
    width: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}

.barra-laterale .home{
    min-height: 200px;
    width: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}

.barra-laterale .playlist{
    min-height: 200px;
    width: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}

.barra-laterale .bottom{
    min-height: 100px;
    width: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    bottom: 0;

}

/* MAIN */


main{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main-header{
    height: 10vh;
    width: 100%;
    background-color: darkblue;
    display: inline-block;

}

.main-parte-centrale{
    height: 100%;
    width: 100%;
    background-color: darkcyan;

}


footer{
    height: 10vh;
    width: 100vw;
    background-color: dodgerblue;
    position: absolute;
    bottom: 0;
    left: 0;
}